body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f9;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background: #1976d2;
    color: white;
}

header h1 {
    margin: 0;
}

header .btn {
    background: #dc004e;
    color: white;
    text-decoration: none;
    padding: 8px 12px;
    border-radius: 5px;
}

main {
    padding: 20px;
}

.login-container, .add-task-container {
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    background: white;
    border: 1px solid #ddd;
    border-radius: 8px;
}

.tabs {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
}

.tab {
    background: #ddd;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
}

.tab.active {
    background: #1976d2;
    color: white;
}

.form {
    display: none;
}

.form.active {
    display: block;
}

label {
    display: block;
    margin: 10px 0 5px;
    font-size: 14px;
    color: #333;
}

input, button {
    display: block;
    width: 100%;
    margin-bottom: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 16px;
}

textarea {
    width: 100%;
    margin-bottom: 10px;
    resize: vertical;
}

button {
    background: #1976d2;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background: #145aa7;
}

.error {
    color: red;
}

.header-buttons {
    display: flex;
    gap: 10px;
}

.header-buttons .btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    min-width: 100px;
    padding: 0 10px;
    text-align: center;
    font-size: 16px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    background-color: red;
    color: white;
    text-decoration: none;
}

.header-buttons .btn:hover {
    background-color: #145aa7;
}


#toast-container {
    position: fixed;
    bottom: 10px;
    right: 10px;
    z-index: 1000;
}

.toast {
    background: #1976d2;
    color: white;
    padding: 10px 20px;
    margin-bottom: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    animation: fadeInOut 3s forwards;
}

@keyframes fadeInOut {
    0% {
        opacity: 0;
        transform: translateY(-10px);
    }
    10% {
        opacity: 1;
        transform: translateY(0);
    }
    90% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        transform: translateY(-10px);
    }
}
