.venv/
.env
.idea/
.vscode/
.fleet/

__pycache__/
*.py[cod]
*$py.class
.cache/
CMakeFiles/
CMake*.*
cmake*.*
compile_commands.json

*.so
.DS_Store

.Python
build/
dist/

*.manifest
*.spec

*code*.txt
*code*.md
node_modules/
